<!-- Header -->
<%- include ('../partials/header') %> <%- include ('../partials/menu') %> <%-
include ('../partials/message') %>
<!-- Body with the two div Container elements  -->
<head>
  <!-- <title>Discover Communities</title> -->
  <link rel="stylesheet" href="resources/css/discover.css" />
</head>
<body>
  <main>
    <div id="Container">
      <div id="CommunityPageContainer">
        <div class="title">Community Page</div>
        <hr />
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Community ID</th> -->
                <th>Community Name</th>
                <th>Community Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% allCommunities.forEach(community => { %>
              <tr>
                <form method="POST" action="<%- "/addUserToCommunity/" + community.communityid %>">
                  <!-- <td><%= community.communityid %></td> -->
                  <td><%= community.name %></td>
                  <td><%= community.description %></td>
                  <td>
                    <div class="popup" onclick="myFunction('popup<%= community.name %>')">
                      <button type="submit">Join</button>
                      <span class="popuptext" id="popup<%= community.name %>">Community Joined!</span>
                    </div>
                  </td>
                </form>
              </tr>
              <% }); %>
            </tbody>
          </table>
        
      </div>

      <div id="RandomEventContainer">
        <div class="title">Upcoming Events</div>
        <hr />
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Event ID</th> -->
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Event Date</th>
                <!-- <th>Event Time</th> -->
                <th>Event Location</th>
                <!-- <th>Event Community</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% allEvents.forEach(event => { %>
              <tr>
                <form method="POST" action="<%- "/addUserToEvent/" + event.eventid %>">
                  <!-- <td><%= event.eventid %></td> -->
                  <td><%= event.name %></td>
                  <td><%= event.description %></td>
                  <td><%= event.date %></td>
                  <!-- <td><%= event.time %></td> -->
                  <td><%= event.location %></td>
                  <!-- <td><%= event.communityid %></td> -->
                  <td>
                    <div class="popup" onclick="myFunction('popup<%= event.eventid %>')">
                      <button type="submit">Join</button>
                      <span class="popuptext" id="popup<%= event.eventid %>">Event Joined!</span>
                    </div>
                  </td>
                </form>
              </tr>
              <% }); %>
            </tbody>
          </table>
      </div>
    </div>
    <script>
      function myFunction(popupId) {
        var popup = document.getElementById(popupId);
        popup.classList.toggle("show");
        setTimeout(() => {
          popup.classList.add("hide");
        }, 1100);
      }
    </script>
  </main>
</body>

<!-- footer -->
<%- include ('../partials/footer') %>
