<!-- Header -->
<%- include ('../partials/header') %> <%- include ('../partials/menu') %> <%-
include ('../partials/message') %>
<!-- Body with the two div Container elements  -->
<head>
  <!-- <title>Discover Communities</title> -->
  <link rel="stylesheet" href="resources/css/discover.css" />
</head>
<body>
  <main>
    <div id="Container">
      <div id="CommunityPageContainer">
        <div class="title">Community Page</div>
        <hr />
        <form>
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Community ID</th> -->
                <th>Community Name</th>
                <th>Community Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% allCommunities.forEach(community => { %>
                <tr>
                  <!-- <td><%= community.communityid %></td> -->
                  <td><%= community.name %></td>
                  <td><%= community.description %></td>
                  <td>
                    <button type="submit" class="btn btn-primary">Join</button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </form>
      </div>

      <div id="RandomEventContainer">
        <div class="title">Upcoming Events</div>
        <hr/>
        <form>
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Event ID</th> -->
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Event Date</th>
                <!-- <th>Event Time</th> -->
                <th>Event Location</th>
                <!-- <th>Event Community</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% allEvents.forEach(event => { %>
                <tr>
                  <!-- <td><%= event.eventid %></td> -->
                  <td><%= event.name %></td>
                  <td><%= event.description %></td>
                  <td><%= event.date %></td>
                  <!-- <td><%= event.time %></td> -->
                  <td><%= event.location %></td>
                  <!-- <td><%= event.communityid %></td> -->
                  <td>
                    <button type="submit" class="btn btn-primary">Join</button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </form>        
      </div>
    </div>
  </main>
</body>

<!-- footer -->
<%- include ('../partials/footer') %>
