<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<head>
    <style>
        div.scroll {
          height: 25rem;
          overflow-x: hidden;
          overflow-y: auto;
          text-align: center;
          padding: 20px;
        }
      </style>
</head>
<body onload="loadCommunityCalendar2(eventsData)">
    <main style="width: 98%;">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <form id="events" action="add_user_to_events" method="POST" style="padding: 3%;">
                    <div class="form-group">
                        <h5 id="modalTitle"></h5>
                        <p id="start"></p>
                        <p id="end"></p>
                         <p id="description"></p>
                        <input type="hidden" id="eventid" name="eventid" value="">
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit"  id="join" class="btn btn-primary" data-bs-dismiss="modal" style="display: none;">Join event</button>
                    <button type="submit" formaction="remove_user_event" id="leave" class="btn btn-primary" data-bs-dismiss="modal" style="display: none;">Leave event</button>
                </form>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="column" style="width: 49%; padding-top: 1%;">
                <div class="list-group" style="width: 75%; height: 30%; background-color: white;" id="friends_d">
                    <h5 class="list-group-item list-group-item-action active"  aria-current="true">Friends</h5>
                    <div class="scroll">
                        <% if(friend.length == 0){ %>
                            <p>People you may know...</p>
                            <% for(var i=0; i < allUsers.length; i++) {%>
                                <form action="add_friend" method="POST">
                                    <div class="form-group">
                                        <input type="hidden" id="userADD" name="userADD" value="<%= allUsers[i].userid %>">
                                        <a href="#" class="list-group-item list-group-item-action" style="width: 73%; display: inline-block;">
                                            <%= allUsers[i].fullname %>
                                        </a>
                                        <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >Add</button>
                                    </div> 
                                </form>
                             <% } %>
                        <% }else{ %>
                            <% for(var i=0; i < friend.length; i++) {%>
                                <% if(friend[i].status == "pending"){ %>
                                 <form action="accept_friend" method="POST">
                                     <div class="form-group">
                                         <input type="hidden" id="userid" name="userid" value="<%= friend[i].useridb %>">
                                         <a href="#" class="list-group-item list-group-item-action" style="width: 73%; display: inline-block;">
                                            <%= friend[i].fullname %>
                                        </a>
                                         <button type="submit" name="accept" id="accept" class="btn btn-primary" style="width: 18%; display: inline-block;" >Accept</button>
                                         <button type="submit" formaction="remove_friend" name="decline" id="decline" class="btn btn-primary" style="width: 5%; display: inline-block; padding-left: 0%; padding-right: 0%;" >X</button>
                                     </div> 
                                 </form>
                                 <% } %>
                              <% } %>
                              <% for(var i=0; i < friend.length; i++) {%>
                                 <% if(friend[i].status == "friends"){ %>
                                     <form action="remove_friend" method="POST">
                                         <div class="form-group">
                                             <input type="hidden" id="userid" name="userid" value="<%= friend[i].useridb %>">
                                             <a href="#" class="list-group-item list-group-item-action" style="width: 73%; display: inline-block;">
                                                <%= friend[i].fullname %>
                                            </a>
                                             <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >Remove</button>
                                         </div> 
                                     </form>
                                  <% } %>
                               <% } %>
                               <% for(var i=0; i < friend.length; i++) {%>
                                 <% if(friend[i].status == "sent"){ %>
                                     <form action="remove_friend" method="POST">
                                         <div class="form-group">
                                             <input type="hidden" id="userid" name="userid" value="<%= friend[i].useridb %>">
                                             <a href="#" class="list-group-item list-group-item-action" style="width: 73%; display: inline-block;">
                                                <%= friend[i].fullname %> (Pending)
                                            </a>
                                             <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >X</button>
                                         </div> 
                                     </form>
                                  <% } %>
                               <% } %>
                               <p style="padding-top: 8%;">People you may know...</p>
                                <% for(var i=0; i < allUsers.length; i++) {%>
                                    <form action="add_friend" method="POST">
                                        <div class="form-group">
                                            <input type="hidden" id="userADD" name="userADD" value="<%= allUsers[i].userid %>">
                                            <a href="#" class="list-group-item list-group-item-action" style="width: 73%; display: inline-block;">
                                                <%= allUsers[i].fullname %>
                                              </a>
                                            <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >Add</button>
                                        </div> 
                                    </form>
                                <% } %>
                        <% } %>
                    </div>
                </div>

                <div class="list-group mt-4" style="width: 75%; height: 30%; background-color: white;" id="communities_d">
                    <h5 class="list-group-item list-group-item-action active"  aria-current="true">Friends Communities</h5>
                    <div class="scroll">
                        <% for(var i=0; i < community.length; i++) {%>
                            <a href="/community/<%= community[i].communityid %>" class="list-group-item list-group-item-action">
                                <%= community[i].name %>
                              </a>
                         <% } %>
                    </div>
                </div>

                <script>
                    function display_communities() {
                        var x = document.getElementById("friends_d");
                        var y = document.getElementById("communities_d");
                        if (y.style.display === "block") {
                            x.style.display = "none";
                            y.style.display = "block";
                        }
                        else{
                            x.style.display = "none";
                            y.style.display = "block";
                        }
                    }

                    function display_friends() {
                        var x = document.getElementById("friends_d");
                        var y = document.getElementById("communities_d");
                        if (x.style.display === "block") {
                            y.style.display = "none";
                            x.style.display = "block";
                        }
                        else{
                            x.style.display = "block";
                            y.style.display = "none";
                        }
                    }

                    function hide_friends_card() {
                        document.getElementById("adding_friend").style.display ="none";
                    }

                    function display_friends_card() {
                        var x = document.getElementById("adding_friend");
                        var y = document.getElementById("search");
                        y.style.display = "block";
                        x.style.display = "none";
                    }

                    function close() {
                        var x = document.getElementById("adding_friend");
                        x.style.display = "none";
                    }

                    var eventsData = <%- JSON.stringify(events) %>;
                    console.log(eventsData);

                    function loadCommunityCalendar2(friends_events) {
                        var calendarEl = document.getElementById('calendar');
                        //friends_events = JSON.parse(friends_events);
                        console.log(friends_events);
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                        eventClick: function(info) {
                            var eventObj = info.event;
                            console.log(info.event);
                            document.getElementById('modalTitle').innerHTML = info.event.title;
                            document.getElementById('description').innerHTML = info.event.extendedProps.location;
                            document.getElementById('eventid').value = info.event.extendedProps.eventID;
                            document.getElementById('start').innerHTML = "Start: "+ info.event.start;
                            document.getElementById('end').innerHTML = "End: "+ info.event.end;
                            if(info.event.extendedProps.status == 'false'){
                                document.getElementById('join').style.display = "inline-block";
                                document.getElementById('leave').style.display = "none";
                            }
                            else{
                                document.getElementById('leave').style.display = "inline-block";
                                document.getElementById('join').style.display = "none";
                            }
                            //document.getElementById('description').innerHTML = info.event.extendedProps.location; 
                            $("#myModal").modal("toggle");
                            
                        },
                        events: friends_events
                        });
                        var calendarTitle = document.getElementById('calendar-name');
                        var communityName = 'Friends Events';
                        calendarTitle.innerHTML =communityName;
                        calendar.render();
                    };

                </script>
            </div>
            <div class="column" style="width: 50%; padding-top: 1%;">
                <div class="row">
                    <div class="col">
                        <div class="container-fluid">
                            <form id="search" action="user_search" method="POST">
                                <div class="form-group">
                                    <label for="user">Username</label>
                                    <input type="text" class="form-control" id="user" name="user" aria-describedby="search_help" placeholder="Enter username" style="width: 75%; display: inline-block;">
                                    <button type="submit" class="btn btn-primary" style="display: inline-block;" onclick="display_friends_card()">Search</button>
                                </div>
                            </form>
                            <% if(user != "empty"){ %>
                                <div class="card" style="width: 18rem;" id="adding_friend">
                                    <div class="card-body">
                                        <% if(user == "NOT_FOUND"){ %>
                                            <form id="friend_card" action="remove_friend" method="POST">
                                                <div class="form-group">
                                                    <h5 class="card-title">Could not find user</h5>
                                                    <button formaction="test" aria-label="Close" onclick="close()">Close</button>
                                                </div> 
                                            </form>
                                        <% } else{ %>
                                            <% if(empty == "true"){ %>
                                                <form id="friend_card" action="remove_friend" method="POST">
                                                    <div class="form-group">
                                                        <h5 class="card-title"><%= user.fullname %></h5>
                                                        <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                        <input type="hidden" id="userid" name="userid" value="<%= user.userid %>">
                                                        <button type="submit" class="btn btn-primary">Remove Friend</button> 
                                                        <button formaction="test" aria-label="Close" onclick="close()">Close</button>                                                    
                                                    </div> 
                                                </form>
                                            <% } else if(empty == "pending"){ %>
                                                <form id="friend_card" action="accept_friend" method="POST">
                                                    <div class="form-group">
                                                        <h5 class="card-title"><%= user.fullname %></h5>
                                                        <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                        <input type="hidden" id="userid" name="userid" value="<%= user.userid %>">
                                                        <button type="submit" name="accept" id="accept" class="btn btn-primary" style="width: 35%; display: inline-block;" >Accept</button>
                                                        <button type="submit" formaction="remove_friend" name="decline" id="decline" class="btn btn-primary" style="width: 10%; display: inline-block; padding-left: 0%; padding-right: 0%;" >X</button>
                                                        <button formaction="test" aria-label="Close" onclick="close()">Close</button>                                                    </div>
                                                    
                                                </form>
                                                <% } else if(empty == "sent"){ %>
                                                    <form id="friend_card" action="remove_friend" method="POST">
                                                        <div class="form-group">
                                                            <h5 class="card-title"><%= user.fullname %></h5>
                                                            <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                            <input type="hidden" id="userid" name="userid" value="<%= user.userid %>">
                                                            <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >X</button>
                                                            <button formaction="test" aria-label="Close" onclick="close()">Close</button>                                                        </div>
                                                        
                                                    </form>
                                            <% } else { %>
                                                <form action="add_friend" method="POST">
                                                    <div id="friend_card" class="form-group">
                                                        <h5 class="card-title"><%= user.fullname %></h5>
                                                        <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                        <input type="hidden" id="userADD" name="userADD" value="<%= user.userid %>">
                                                        <button type="submit" class="btn btn-primary">Add Friend</button>
                                                        <button formaction="test" aria-label="Close" onclick="close()">Close</button>
                                                    </div>
                                                    
                                                </form>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col">
                            <div class="col-md-8 mt-4" style="width: auto;">
                                <div id="title" style="
                                  border-radius: 6px;
                                  padding: 4px;
                                  padding-right: 5px;
                                  padding-left: 5px;" class="bg-primary text-center mb-3">
                                  <h3 id="calendar-name" class="text-light mt-1"></h3>
                                </div>
                                <div id="calendar"></div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>
<%- include ('../partials/footer') %>