<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<style>
    .community-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .community-name {
        margin-right: 10px;
    }
    .filters-list {
        font-size: 0.8em;
        color: #666;
        list-style: none;
        padding: 0;
        display: flex;
        gap: 5px;
    }
    .separator {
        border: 0;
        height: 1px;
        background: #ccc;
        margin-top: 20px;
        margin-bottom: 20px;
    }


</style>

<body onlaod="loadCommunityCalendar()" >
    <div class="container">
        <div class ="community-details">
            <h1> <%= name %></h1>
            <ul class="filters-list">
                <% filters.forEach(function(filter) { %>
                    <li><%= filter %></li>
                <% }); %>
            </ul>
        </div>
        <p> <%= description %></p>

        <hr class = 'separator'>

        <div class="col-md-8 offset-md-0 mt-8">
            <div id="title" style="
            background: #78c2ad;
            border-radius: 6px;
            padding: 4px;
            padding-right: 5px;
            padding-left: 5px;">
              <h3 id="calendar-name" style="text-align: center; color: #fff;"></h3>
            </div>
            <div id="calendar"></div>
          </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        var calendarTitle = document.getElementById('calendar-name');
        calendarTitle.innerHTML = "";
        // Remove all existing events and rerender the calendar
        calendar.render();
        });

    </script>
</body>

<%- include ('../partials/footer') %>