<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<head>

</head>
<body>

    <main>

        <div class="container">
            <h1>My Profile</h1>

            <div class="row">
                <div class="col-md-4 offset-md-0 mt-4" >
                    <img src="https://res.cloudinary.com/dzhqemlkr/image/upload/<%=data.uList.username%>.jpg" style="width: 300px; height: 300px;" class="img-thumbnail" alt="No Profile Photo">

                </div>

                <div class="col-md-4 offset-md-0 mt-4" >
                    <div class="list-group">
                        <h5 class="list-group-item list-group-item-action active"  aria-current="true">Account Information</h5>
                        <a class="list-group-item list-group-item-action">Name: <%= data.uList.fullname %></a>
                        <a class="list-group-item list-group-item-action">Email: <%= data.uList.email %></a>
                        <a class="list-group-item list-group-item-action">Username: <%= data.uList.username %></a>
                    </div>
                    <br>
                    <a class="btn btn-outline-danger" href='/logout' role="button">Log out</a>
                    <!-- <a class="btn btn-outline-secondary" role="button">Change Password</a> -->
                </div>

              <div class="col-md-4 offset-md-0 mt-4" >
                    <div class="list-group">
                        <h5 class="list-group-item list-group-item-action active"  aria-current="true">Friends</h5>
                          <% data.fList.forEach(friend => { %>
                            <a class="list-group-item list-group-item-action" href="/friendProfile/<%=friend.userid%>"><%= friend.fullname %></a>
                            <% }); %>
                            
                    </div>
                    <br>
                    <a class="btn btn-outline-success" href='/friends' role="button">Add Friend</a>
                </div>

                <div class="col-md-4 offset-md-0 mt-4" >
                    <div class="list-group">
                        <h5 class="list-group-item list-group-item-action active"  aria-current="true">Communities</h5>
                          <% data.cList.forEach(community => { %>
                            <a class="list-group-item list-group-item-action"><%= community.name %></a>
                            <% }); %>
                            
                    </div>
                    <br>
                    <a class="btn btn-outline-success" href='/discover' role="button">Find Communities</a>
                </div>

                <div class="col-md-4 offset-md-0 mt-4" >
                    <div class="list-group">
                        <h5 class="list-group-item list-group-item-action active"  aria-current="true">Events</h5>
                          <% data.eList.forEach(event => { %>
                            <a class="list-group-item list-group-item-action"><%= event.title %></a>
                            <% }); %>
                            
                    </div>
                    <br>
                    <a class="btn btn-outline-success" href='/discover' role="button">Find Events</a>

            </div>
        </div>
        
    </main>



</body>
<%- include ('../partials/footer') %>