<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<div class="container">
  <div class="row">
    <!-- Left Section for Community Name and Description -->
    <div class="col-md-8 mt-4">
      <div class="community-details">
        <h1><%= communityDetails.name %></h1>
        <p><%= communityDetails.description %></p>
        <% if (isAdmin) { %>
          <a href="/createEvent/<%= communityDetails.communityid %>" class="btn btn-primary" >New Event</a>
        <% } %>
      </div>
    </div>

    <!-- Right Section for Community Members -->
    <div class="col-md-4 mt-4">
      <div class="list-group">
        <h5 class="list-group-item list-group-item-action active" aria-current="true">Community Members</h5>
        <% communityMembers.forEach(member => { %>
          <a class="list-group-item list-group-item-action">
            <%= member.fullName %> Username: <%= member.username %>
          </a>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>
  